server {
  listen 80;

  location / {
    root /usr/share/nginx/html;
    index index.html;
    try_files $uri $uri/ /index.html;
  }

  location /public/ {
    proxy_pass http://${BACKEND_URL}/public/;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
  }

  location /admin/ {
    proxy_pass http://${BACKEND_URL}/admin/;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
  }

  location /images/ {
    proxy_pass http://${BACKEND_URL}/images/;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
  }
}